/* Post */

#post {
    background-color: white;
    width: 500px;
    height: auto;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(233, 230, 230);
    margin-top: 10px;
}

.post-content {
    min-height: auto;
    border-bottom: 1px solid rgb(233, 230, 230);
}

.post-document {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.post-media {
    border-bottom: 1px solid rgb(233, 230, 230);
}

.post-media img {
    width: 498px;
}

#post-interacting {
    min-height: 60px;
    border: 1px;
    padding: 2px;
    border-bottom: rgb(233, 230, 230) solid 1px;
}
#post-interacting a{
    padding-left: 30px;
    padding-right: 30px;
}
#postHeader {
    width: 470px;
}

#postAuthorAvatar {
    margin: 10px;
}

#postAuthorInfo {
    margin: 5px;
}

#postAuthorInfo a {
    text-align: center;
}

#postAuthorInfo i {
    font-size: 13px;
}
#postOption{
    padding: 10px;
}
#postOption i{
   font-size: 13px;
}
.user {
    padding: 10px;
    margin: auto;
}

.user .avatar img {
    /* position:absolute; */
    border-radius: 50%;
    border: 0;
    max-width: 100%;
    max-height: 100%;
    height: 50px;
    width: 50px;
    padding: 5%;
}

.author-avatar img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#authorName {
    font-size: 16px;
    color: #118686;
}

#authorName:hover {
    color: #00cc99;
}

.authorInfo {
    margin-left: 10px;
}

.createdDate {
    font-size: 12px;
    color: #525050;
}

.createdDate:hover {
    color: #525050;
}

.visibleOption {
    margin-left: 10px;
}

.fa-ellipsis-h:hover {
    color: #000000;
}

.fa-ellipsis-h {
    color: grey;
    font-size: 14px;
}

.leftOf {
    margin-left: 10px;
}

.fa-globe-asia {
    color: rgb(95, 95, 95);
    font-size: 14px;
}

.fas {
    color: #7a7a7a;
    font-size: 18px;
}

/* Interacting */

.post-interacting a {
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.love.active i {
    color: red;
}

.love span {
    color: #7a7a7a;
}

.sad.active i {
    color: #2d13c4;
}

.love.active {
    color: red;
}

.sad.active {
    color: #2107b4;
}

.sad span {
    color: #7a7a7a;
}

.count {
    padding: 5px;
    font-size: 11px;
}

.count span {
    color: #7a7a7a;
}

.btn:hover {
    background-color: #d4d4d4;
}

/* User avatar */

.user-avatar {
    background: 1px solid #6dd66d;
    /* margin-right: 5px; */
}

.user-avatar img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

/* End user avatar */

/* begin user-comment */

.user-comment a {
    color: #118686;
    padding-right: 5px;
    font-size: 14px;
}

.user-comment span {
    color: #131313;
    padding-right: 10px;
    font-size: 13px;
}

.user-comment {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 20px;
    background: #f0f0f0;
}

.comment-option i {
    font-size: 12px;
    color: #ffffff;
}

.comment-option i:hover {
    color: #bbbcbd;
}

.comment {
    margin: 10px;
}

textarea, pre {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

.comment-box {
    border-radius: 20px;
    /* padding: 10px; */
}

.comment-container {
    border: 1px #f0f0f0 solid;
    padding: 5px;
}

/* End user-comment */

/* Container & position*/

.right {
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: 50px auto auto;
    background-color: rgb(255, 255, 255);
}

.center {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
}

.container {
    position: relative;
}

.left-container {
    position: relative;
}

.right-container {
    position: relative;
}

.right {
    position: absolute;
    right: 12px;
}

.left {
    position: absolute;
    left: 12px;
}

/* End container & position */
/* Create comment  */



#createCommentBox {
    background: #ffffff;
    margin: 1px;
    border-bottom: solid 1px #f1eeee;
}


#createCommentAuthor {
    padding: 10px;
}

#commentTextContainer {
    width: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#commentText {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
}

#commentText :focus {
    border-style: none;
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#commentOption{
    padding-left: 5px;
}
#commentOption i{
    font-size: 12px;
    color: white;

}
#commentOption i:hover{
    color: #7a7a7a;
}
/*  */
/* Create Post */

#createPost {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px rgb(248, 248, 248) solid;
    background: #f5f6f7;
    width: 500px;
}

#createPostBox {
    background: #ffffff;
    margin: 1px;
}

#createPostBox {
    background: #ffffff;
    margin: 1px;
}

#createPostTitle {
    padding: 10px;
    font-size: 14px;
    color: #585c63;
    font-weight: 600;
}

#createPostAuthor {
    padding: 10px;
}

#postTextContainer {
    width: 85%;
    margin-bottom: 10px;
}

#postText {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
}

#postText :focus {
    border-style: none;
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#postPublishButton {
    background: #4267b2;
    color: white;
    font-size: 13px;
    margin-left: 30px;
}

#postPublishButton:hover {
    background: #0b3485;
}

#contentOption {
    padding: 5px;
    margin-left: 50px;
}

#contentOption i {
    font-size: 12px;
    margin-right: 5px;
}

#contentOption span {
    color: #525050;
    font-size: 13px;
    margin-right: 5px;
}

#createPostBottomBar {
    height: 50px;
}

/* End Create Post */

/* Create Option Bar */

#visibleOptionDropButton span {
    color: #156de0;
    font-size: 12px;
}

/* End Option Bar */